.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card {
  width: 50%;
  border-radius: 13px;
  padding: 20px;

  background-color: #150b3e;
}
.profile-container {
  display: flex;
  flex-direction: row;
}
.profile-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #c7d2fe;
  color: #7c3aed;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.profile-name {
  font-family: 'Roboto';
  color: #d4d2db;
  font-size: 23px;
  font-weight: 900;
}
.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.balance-heading {
  color: #585076;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 900;
}
.amount-display-container {
}
.amount {
  color: #c4c4c4;
  font-family: 'Roboto';
  font-size: 27px;
  font-weight: 900;
}
.rupees-para {
  color: #585076;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
.withdraw-heading {
  color: #c4c4c4;
  font-family: 'Roboto';
  font-size: 27px;
  font-weight: 900;
}
.choose-option-para {
  color: #585076;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
.amount-lists {
  padding-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .card {
    width: 90%;
  }
}
